<div class="row">
    <h1>Hard and Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="75" [radius]="80" [imageSrc]="'../assets/html.png'" [imageHeight]="100"
            [imageWidth]="100" [showImage]="true" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="50" [radius]="80" [imageSrc]="'../assets/css-3.png'" [imageHeight]="100"
            [imageWidth]="100" [showImage]="true" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="30" [radius]="80" [imageSrc]="'../assets/JavaScript.png'" [imageHeight]="100"
            [imageWidth]="100" [showImage]="true" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="70" [radius]="80" [imageSrc]="'../assets/github.png'" [imageHeight]="100"
            [imageWidth]="100" [showImage]="true" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>