<div class="row">
    <h1>Experencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Primer trabajo</h1> - <h3>7 años</h3></li>
            <p>Atención al publico en comercio.</p>
        </ul>
        <ul>
            <li><h1>Segundo trabajo</h1> - <h3>1 año</h3></li>
            <p>Atención a personas mayores</p>
        </ul>
        <ul>
            <li><h1>Tercer Trabajo</h1> - <h3>2 años</h3></li>
            <p>Impresiones 3D</p>
        </ul>
    </div>
</div>
