<div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo.png" id="logoAP">
    </div>
    <div class="redes">
        <a href="https://github.com/Naimgisse?tab=repositories"><img src="../../../assets/github.png" alt=""></a>
        <a href=""><img src="../../../assets/facebook.png" alt=""></a>
        <a href="https://www.instagram.com/hell_fire_3d/?next=%2F&hl=en"><img src="../../../assets/instagram.png"
                alt=""></a>
        <button type="button" class="btn btn-outline-light">INGRESO</button>
    </div>
</div>